In [10]:
import pandas as pd
from sklearn import tree
import pydotplus
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt
import matplotlib.image as pltimg
from sklearn.metrics import classification_report, plot_confusion_matrix, plot_roc_curve
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import joblib

In [11]:
df = pd.read_csv(r"https://raw.githubusercontent.com/paulwababu/datasets/main/drug200.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [12]:
d = {'M':1, 'F':0}
df['Sex'] = df['Sex'].map(d)
df.head()

   Age  Sex      BP Cholesterol  Na_to_K   Drug
0   23    0    HIGH        HIGH   25.355  drugY
1   47    1     LOW        HIGH   13.093  drugC
2   47    1     LOW        HIGH   10.114  drugC
3   28    0  NORMAL        HIGH    7.798  drugX
4   61    0     LOW        HIGH   18.043  drugY

In [13]:
db = {'HIGH':0, 'LOW':1, 'NORMAL':2}
df['BP'] = df['BP'].map(db)
df.head()

   Age  Sex  BP Cholesterol  Na_to_K   Drug
0   23    0   0        HIGH   25.355  drugY
1   47    1   1        HIGH   13.093  drugC
2   47    1   1        HIGH   10.114  drugC
3   28    0   2        HIGH    7.798  drugX
4   61    0   1        HIGH   18.043  drugY

In [14]:
dc = {'HIGH':0, 'LOW':1, 'NORMAL':2}
df['Cholesterol'] = df['Cholesterol'].map(dc)
df.head()

   Age  Sex  BP  Cholesterol  Na_to_K   Drug
0   23    0   0            0   25.355  drugY
1   47    1   1            0   13.093  drugC
2   47    1   1            0   10.114  drugC
3   28    0   2            0    7.798  drugX
4   61    0   1            0   18.043  drugY

In [15]:
features = ['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']
X = df[features]

Y = df['Drug']

In [17]:
X, Y

(     Age  Sex  BP  Cholesterol  Na_to_K
 0     23    0   0            0   25.355
 1     47    1   1            0   13.093
 2     47    1   1            0   10.114
 3     28    0   2            0    7.798
 4     61    0   1            0   18.043
 ..   ...  ...  ..          ...      ...
 195   56    0   1            0   11.567
 196   16    1   1            0   12.006
 197   52    1   2            0    9.894
 198   23    1   2            2   14.020
 199   40    0   1            2   11.349

 [200 rows x 5 columns],
 0      drugY
 1      drugC
 2      drugC
 3      drugX
 4      drugY
        ...
 195    drugC
 196    drugC
 197    drugX
 198    drugX
 199    drugX
 Name: Drug, Length: 200, dtype: object)

In [19]:
dtree=DecisionTreeClassifier()
dtree = dtree.fit(X, Y)

In [21]:
dtree.predict([[68, 0,2,2,27.10]])

/home/dingo/.local/lib/python3.10/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['drugY'], dtype=object)

In [22]:
joblib_file = "DecisionTreeModel.joblib"
joblib.dump(dtree, joblib_file)

['DecisionTreeModel.joblib']